#mdiv {
  position: absolute;
  right: 0pt;
  margin: 5px;
  width: 25px;
  height: 25px;
  background-color: rgba(219, 54, 54, 0.8);
  border: 1px solid black;
}

.mdiv {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  z-index: 1;
}

.md {
  height: 25px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  transform: rotate(90deg);
  z-index: 2;
}
