html,
body,
#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.empty {
  height: 100%;
  background: black;
}

.empty p.emptyMsg {
  color: white;
}

.empty p.emptyMsg.wrong {
  color: red;
}

.order {
  height: 100%;
}

.order > img,
.lock > img {
  width: 100%;
}

.order .orderCodeWrapper {
  margin-top: 100px;
}

.lock .lockImage {
  position: relative;
  width: 50%;
  margin-top: 30px;
  display: inline-block;
}

.lock .lockImage > img {
  position: relative;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.lock .title {
  display: inline-block;
  margin-left: 30px;
  vertical-align: bottom;
}

.lock .title > h2 {
  color: orange;
}

.lock #feature-bullets {
  padding: 5%;
}

.lock #feature-bullets > ul {
  text-align: left;
}
